<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Predict diabetes</h1>
        <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="bedrooms" placeholder="bedrooms" required="required"/>
            <input type="text" name="bathrooms" placeholder="bathrooms" required="required"/>
            <input type="text" name="sqft_living" placeholder="sqft_living" required="required"/>
            <input type="text" name="sqft_lot" placeholder="sqft_lot" required="required"/>
            <input type="text" name="floors" placeholder="floors" required="required"/>
            <input type="text" name="waterfront" placeholder="waterfront" required="required"/>
            <input type="text" name="view" placeholder="view"
                required="required"/>
            <input type="text" name="condition" placeholder="condition" required="required"/>
            <input type="text" name="sqft_above" placeholder="sqft_above" required="required"/>
            <input type="text" name="sqft_basement" placeholder="sqft_basement" required="required"/>
            <input type="text" name="yr_built" placeholder="yr_built" required="required"/>
            <input type="text" name="yr_renovated" placeholder="yr_renovated" required="required"/>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
        
        <br>
        {{prediction_text}}
</body>
</html>