<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>campus prediction</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Predict diabetes</h1>
        <form action="{{url_for('predict')}}" method="post">
            <input type="text" name="ssc_p" placeholder="ssc_p" required="required" />
            <input type="text" name="hsc_p" placeholder="hsc_p" required="required" />
            <input type="text" name="degree_p" placeholder="degree_p" required="required" />
            <input type="text" name="etest_p" placeholder="etest_p"  />
            <input type="text" name="mba_p" placeholder="mba_p"  />
            <input type="text" name="gender_M" placeholder="gender_M" required="required" />
            <input type="text" name="ssc_b_Others" placeholder="ssc_b_Others" />
            <input type="text" name="hsc_b_Others" placeholder="hsc_b_Others"  />
            <input type="text" name="hsc_s_Commerce" placeholder="hsc_s_Commerce"  />
            <input type="text" name="hsc_s_Science" placeholder="hsc_s_Science" />
            <input type="text" name="degree_t_Others" placeholder="degree_t_Others"  />
            <input type="text" name="degree_t_Sci&Tech" placeholder="degree_t_Sci&Tech"/>
            <input type="text" name="workex_Yes" placeholder="workex_Yes" required="required" />
            <input type="text" name="specialisation_Mkt&HR" placeholder="specialisation_Mkt&HR"  />
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
    </div>
    <br>
    <br>
    {{prediction_text}}
</body>

</html>